.main_body_wrap {
  z-index: 100;
}

.main_content_wrap {
  padding-bottom: 20px;
}

.header_img_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header_img {
  width: 120px;
}

.main_title_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_title {
  font-family: "VitroCore", serif;
  font-weight: 700;
  font-size: 40px;
  margin-top: 16px;
}

.main_result_wrap {
  margin-top: 12px;
}

.main_result {
  width: 100%;
  text-align: justify;
  font-family: "GmarketSans";
  font-weight: 400;
  line-height: 24px;
}

.result_download_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result_download {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result_download_btn {
  background-color: #0d0d0d;
  color: white;
  padding: 20px;
  font-family: "GmarketSans";
  font-size: 24px;
  font-weight: 700;
  border-radius: 12px;
  margin-top: 24px;
  margin-bottom: 12px;
}

.result_download_sub {
  font-family: "NanumSquare";
  font-weight: 400;
  font-size: 12px;
  width: 240px;
  text-align: center;
  line-height: 14px;
}

.footer_img {
  margin-top: -32px;
  width: 100%;
  inset: auto 0 0 0; /* top 자동, 좌·우 0, bottom 0  (→ shorthand) */
  height: auto; /* 이미지 원본 비율 유지 */

  z-index: -1; /* 가장 뒤 레이어 (main_body_wrap z=100보다 낮음) */
  pointer-events: none; /* 클릭 막지 않도록 – UI 요소에 투과 */

  /* 옵션: 뷰포트 너비 초과 시 잘리지 않게 */
  object-fit: cover; /* 가득 채우고, 넘치면 잘라냄 */
}

.pdf_page {
  background-color: #f15b37;
  color: #101010;
  font-family: "GmarketSans";
  margin: 0; /* 여백 제거 */
  padding: 24px;
  overflow: hidden; /* 잉여 영역 방지 */
}

.loading_centered {
  font-family: "GmarketSans";
  font-weight: 700;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 전체 화면 높이 */
  width: 100%; /* 전체 화면 너비 */
}

.toast {
  position: fixed;
  width: 215px;

  top: 20px; /* ✔ 시작 위치 조금 더 아래로 */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 136, 2, 0.95);
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  z-index: 999;
  animation: dropAndFade 3s ease-in-out forwards;
  font-family: "GmarketSans";
  display: flex;
  opacity: 1;
}

@keyframes dropAndFade {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-40px); /* 더 확실하게 위에서 시작 */
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(20px); /* 내려오면서 자리 잡기 */
  }
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-40px); /* 다시 위로 올라가며 사라짐 */
  }
}
