.main_body_wrap {
  z-index: 100;
}

.star_img_wrap {
  position: fixed;
  top: 620px;
  left: 120px;
  z-index: -1;
  pointer-events: none;
  object-fit: cover;
}

.star_img {
  width: 140px;
}
.star_img_wrap2 {
  position: fixed;
  top: 750px;
  right: 80px;
  z-index: -2;
  pointer-events: none;
  object-fit: cover;
}

.star_img2 {
  width: 160px;
}
.star_img_wrap3 {
  position: fixed;
  top: 320px;
  right: 200px;
  z-index: -2; /* 가장 뒤 레이어 (main_body_wrap z=100보다 낮음) */
  pointer-events: none; /* 클릭 막지 않도록 – UI 요소에 투과 */

  /* 옵션: 뷰포트 너비 초과 시 잘리지 않게 */
  object-fit: cover; /* 가득 채우고, 넘치면 잘라냄 */
}

.star_img3 {
  width: 220px;
}

.header_img_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 54px;
}

.header_img {
  width: 320px;
}

.main_title_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_title {
  margin-top: 24px;
  font-family: "VitroCore", serif;
  font-weight: 700;
  font-size: 130px;
  line-height: 140px;
}

.main_subtitle {
  margin-top: 24px;
  font-family: "GmarketSans";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.btn_img_wrap {
  margin-top: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn_img {
  width: 280px;
}

.nostore {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  line-height: 22px;
}

.footer_img {
  width: 100%;
  position: fixed;
  inset: auto 0 0 0;
  height: auto;
  z-index: -2;
  pointer-events: none;
  object-fit: cover;
}
